
#Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1020px;
	height:1020px;
}

#Slice_ {
	position:absolute;
	left:0px;
	top:0px;
	width:1020px;
	height:120px;
}

#Slice002_ {
	position:absolute;
	left:0px;
	top:120px;
	width:160px;
	height:900px;
}

#Slice003_ {
	position:absolute;
	left:160px;
	top:120px;
	width:640px;
	height:312px;
}

#Slice004_ {
	position:absolute;
	left:800px;
	top:120px;
	width:220px;
	height:900px;
}

#Slice005_ {
	position:absolute;
	left:160px;
	top:432px;
	width:219px;
	height:417px;
}

#username_ {
	position:absolute;
	left:379px;
	top:432px;
	width:201px;
	height:27px;
}

#Slice007_ {
	position:absolute;
	left:580px;
	top:432px;
	width:220px;
	height:417px;
}

#Slice008_ {
	position:absolute;
	left:379px;
	top:459px;
	width:201px;
	height:4px;
}

#password_ {
	position:absolute;
	left:379px;
	top:463px;
	width:201px;
	height:27px;
}

#Slice010_ {
	position:absolute;
	left:379px;
	top:490px;
	width:201px;
	height:25px;
}

#Slice011_ {
	position:absolute;
	left:379px;
	top:515px;
	width:21px;
	height:62px;
}

#button-facebook_ {
	position:absolute;
	left:400px;
	top:515px;
	width:160px;
	height:26px;
}

#Slice013_ {
	position:absolute;
	left:560px;
	top:515px;
	width:20px;
	height:62px;
}

#Slice014_ {
	position:absolute;
	left:400px;
	top:541px;
	width:160px;
	height:8px;
}

#button-twitter_ {
	position:absolute;
	left:400px;
	top:549px;
	width:158px;
	height:28px;
}

#Slice016_ {
	position:absolute;
	left:558px;
	top:549px;
	width:2px;
	height:28px;
}

#Slice017_ {
	position:absolute;
	left:379px;
	top:577px;
	width:201px;
	height:272px;
}

#Slice018_ {
	position:absolute;
	left:160px;
	top:849px;
	width:640px;
	height:171px;
}